{% load mezzanine_tags %}

{% editable_loader %}

<script>
{% if settings.GOOGLE_ANALYTICS_ID %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/noisy/1.1/jquery.noisy.min.js"></script>

<script>
$('body').noisy({
    intensity: 1,
    size: 200,
    opacity: 0.08,
    fallback: '/static/img/background.gif',
    monochrome: false
    }).css('background-color', '#E3D8C2');

$('.breadcrumb').noisy().css('background-color', '#999999');
$('.footer').noisy({
    intensity: 1,
    size: 200,
    opacity: 0.08,
    fallback: '/static/img/background.gif',
    monochrome: false
}).css('background-color', '#2B2B2B');

</script>

<!-- Bootstrap -->
<script src="{{ STATIC_URL }}bootstrap/docs/assets/js/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>

